# Ejercicio 1: Transformar cadenas

Hay varias operaciones que puedes realizar en las cadenas cuando las manipulamos. En este ejercicio, usarás métodos de cadena para modificar el texto con hechos sobre la Luna y luego extraerás información para crear un breve resumen.

Nota: Dedica unos minutos a tratar de encontrar una solución. Luego desplázate hacia abajo hasta la parte inferior para ver si has logrado compilar el programa de acuerdo con las especificaciones.

El texto con el que trabajarás es el siguiente:

In [ ]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest dayligh"""

**1.Primero, divide el texto en cada oración para trabajar con su contenido**


**2.Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho.** Define las palabras pista: average, temperature y distance suenan bien

**3.Crea un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:**Ciclo for para recorrer la cadena

**4.Finalmente, actualiza el bucle(ciclo) para cambiar C a Celsius:**
Ciclo para cambiar C a Celsius

# Solución

In [ ]:
#Primero dividimos el texto
text_div = text.split('.')
text_div

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest dayligh']

In [ ]:
# Definimos las palabras clave
key_words = ["average", "temperature", "distance"]

In [ ]:
# Ciclo for para recorrer la cadena
for key_sent in text_div:
    for key_word in key_words:
        if key_word in key_sent:
            print(key_sent)
            break

On average, the Moon moves 4cm away from the Earth every year

In [ ]:
# Ciclo para cambiar C a Celsius
for key_sent in text_div:
    for key_word in key_words:
        if key_word in key_sent:
            print(key_sent.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year

# Ejercicio 2: Formateando Cadenas

Saber cómo dar formato a las cadenas es esencial cuando se presenta información de un programa. Hay algunas maneras diferentes de lograr esto en Python. En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

Gravity Facts about Ganymede

-------------------------------------------------------------------------------
Planet Name: Mars
Gravity on Ganymede: 1.4300000000000002 m/s2

In [ ]:
# Datos con los que vamos a trabajar

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

1.Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

2.Ahora crea una plantilla de cadena multilínea para contener el resto de la información. En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.

3.Finalmente, usa ambas variables para unir el título y los hechos.

4.Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra:

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [ ]:
# Creamos el título
title = f'datos de gravedad sobre {name}'

In [ ]:
# Creamos la plantilla
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [ ]:
# Unión de ambas cadenas
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [ ]:
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [ ]:
# Comprobamos la plantilla
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [ ]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2